main {
  display: flex;
}
.page-left {
  width: 45%;
  text-align: center;
}
.input-group .input-label {
  display: block;
  font-weight: 600;
  font-size: 22px;
}

.input-group input {
  margin-top: 20px;
  padding: 8px 15px;
  border: 1.5px solid rgba(0, 0, 0, 0.596);
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  width: 160px;
}

.input-group button {
  outline: none;
  background-color: #a7d1ec;
  color: #3a11a6;
  box-shadow: 1px 4px 3px 0px #4164ac;
  font-weight: 700;
  font-size: 16px;
  padding: 13px 25px;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
  border: none;
}

.date-time {
  margin-top: 40px;
  margin-left: 25px;
  font-size: 22px;
  font-weight: 600;
}
.temperature {
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temperature .temp-container {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.temperature .temp-container img {
  background-color: rgb(143 171 229 / 98%);
  border-radius: 20px;
}
.temperature .temp-container .temp-value {
  font-size: 50px;
  margin-left: 20px;
}

.temperature .weather {
  font-size: 40px;
  text-transform: capitalize;
}

.temperature .temp-desc {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.temperature .temp-desc p {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 500;
}
.temperature .temp-desc .value {
  font-weight: 700;
  font-size: 20px;
}

.page-right {
  margin-top: 40px;
  width: 55%;
  transition: opacity 0.4s ease-in 0.8s;
}
.card-container {
  width: 100%;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  .page-left,
  .page-right {
    width: 100%;
  }
  .input-group {
    text-align: center;
    margin: 0 auto;
  }
  .input-group .input-label {
    display: block;
    padding-top: 10px;
  }
  .input-group input {
    width: 130px;
    margin-top: 15px;
  }
  .input-group button {
    display: inline-block;
  }
}
