.App {
  background: #fff;
  width: 90%;
  padding: 5vw;
  margin: 5vw auto;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .App{
    width: 90%;
    padding: 10px 5px;
    margin: 20px auto;
  }
}